.section
  .container
    .header-section
      %h2.text-middle
        %i.fas.fa-book
        ALL CONTENTS
    %ul.book_list
      - @books.each do |book| #プロダクトテーブルからbookという変数でtitleを取り出している。
        %li.col
          = link_to "/products/#{book.id}" do
            .book_image{style:"background-image:url(#{book.image})"}
          .thumbnail__caption
            %h3.book_title{title: "#{book.title}"}
              = book.title
