= form_for @review do |f|
  - if @review.errors.any?
    #error_explanation
      %h2= "#{pluralize(@review.errors.count, "error")} prohibited this review from being saved:"
      %ul
        - @review.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :rate
    = f.text_field :rate
  .field
    = f.label :review
    = f.text_area :review
  .field
    = f.label :book_id
    = f.number_field :book_id
  .actions
    = f.submit 'Save'



